.progress-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.circle {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 2px solid #3498db;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    font-size: 16px;
    color: #3498db;
    background: #fff;
}

.active {
    border-color: #66b2ff;
    background-color: #66b2ff;
    color: white;
}

.line {
    height: 2px;
    flex: 1;
    background: #d6eaff;
}

.line.active {
    background: #3498db;
}

button {
    padding: 10px 20px;
    margin: 0 5px;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
